tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: /home/pi/verified-engineering-studio/deploy/cloudflared-credentials.json

ingress:
  - hostname: verifiedengineeringstudio.schares-timo.de
    service: http://127.0.0.1:8110
  - hostname: ves.schares-timo.de
    service: http://127.0.0.1:8110
  - service: http_status:404

